*{
    scroll-behavior: smooth;
}
h1 {
 margin-left: 10px;
}
h2 {
    text-align: center ;
}

.navbar {
    position: fixed;
    height: 25px;
    width: 100%;
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(4, 0, 0);
    float: right;
    margin-right: 5%;
    transition: all .5s ease-in-out;
}

a:hover {
    color: black;
    background-color: rgb(207, 118, 45);
}

body {
    background-color: rgb(213, 179, 150);

}

.header {
    text-align: center;
    width: 100%;
}

img:hover {
    width: 300px;
    height: 300px;
}

.image {
    text-align: center;
    
}

img {
    
    width: 150px;
    height: 150px;
    border-radius: 360px;
    transition: all .5s ease-in-out;
}

.table>table,.table th,.table tr,.table td {
    border: 1px solid;
    border-radius: 2px;
}

table{
    margin-left: 10px;
}

form {
    margin-left: 10px;
}
